#con_rating_block{
	margin-top:10px;
    padding-top:10px;
    border-top:1px solid #666666;
	margin-bottom:10px;
}

.con_photos_header{
	padding:8px;
	font-weight:bold;
	text-align:center;
}

table.con_photos_block{
	float:right;
}

table.con_photos td{
	padding:0px;
}

div.con_forum_link{
    margin-top:10px;
    margin-bottom:10px;
}

div.con_forum_link a{
    height:16px;
    line-height:16px;
    padding-left:18px;
    background:url(/images/icons/comments.gif) no-repeat left center;
}