/*------------------ PAGE SPECIFIC --------------------*/
html{
	height:100%;
}
body {
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	color: #333333;
	margin: 0px;
	padding: 0px;
	font-size:12px;
	background:url(/templates/_default_/images/bg.jpg) repeat-x #BECFDF;
	height:100%;
}

a.new_messages_link{ color:#fff; background:#F00; font-weight:bold; padding:2px; text-decoration:none; }
a.new_messages_link:hover{ color:#F00; background:#Fff; font-weight:bold; padding:2px; text-decoration:none; }

td.new_user_avatar { text-align:center; }
a.new_user_link { font-size:14px; font-weight:bold; margin-left:15px; }

.mod_user_rating { }
.mod_user_rating td.avatar{ text-align:center; }
.mod_user_rating a.nickname { font-size:14px; font-weight:bold; margin-left:15px; float:left; }
.mod_user_rating div.karma { font-size:14px; font-weight:bold; margin-left:5px; float:left; }
.mod_user_rating div.rating { font-size:14px; font-weight:bold; margin-left:5px; float:left;  }

span.fast_cfg_link { padding:4px; }
span.fast_cfg_link img{ border:none; }

.new_board_items li{
	padding:0px;
	margin-bottom:4px;
}
.new_board_items{
	padding:0px;
	margin:0px;
	padding-left:15px;
}

.mod_clubs div.club_entry { overflow:hidden; margin-bottom:10px; }
.mod_clubs div.club_entry .image{ width:48px; height:48px; padding: 2px; background:#FFF; float: left; margin-right:14px; }
.mod_clubs div.club_entry .data{ float: left; }
.mod_clubs div.club_entry .data .title { margin-bottom: 5px; margin-top:5px;  }
.mod_clubs div.club_entry .data .title a{ font-size: 16px; font-weight:bold;  }
.mod_clubs div.club_entry .data .details { float:left; padding-left:10px; }
.mod_clubs div.club_entry .data .details span{ color: #999; padding-left:19px; margin-right:4px; height:18px; font-size:10px; height:16px;line-height:16px;display:block; }
.mod_clubs div.club_entry .data .details span.rating{ background:url(/images/icons/rating.gif) no-repeat left center; }
.mod_clubs div.club_entry .data .details span.date{ background:url(/images/icons/date.gif) no-repeat left center; }
.mod_clubs div.club_entry .data .details span.members{ background:url(/images/icons/users.gif) no-repeat left center; }

/*-------------------------------------------------------------------------------------------------------*/
#sitename{
	margin-left:8px;
	font-size:24px;
	color:#FFF;
}

	/*--------- SEARCH -----------------*/
	#bar_search{
		margin:0px;
		margin-top:10px;
	}
	#bar_search form{
		margin:0px;
		padding:2px;
	}
	#searchinput{
		width:246px;
		_width:272px;
		height:31px;
		display:block;
		border:none;
		background:url(/templates/_default_/images/search.png) no-repeat;
		padding:4px;
		padding-left:13px;
		padding-right:13px;
		font-size:1.5em;
		float:left;
	}
	#searchbtn{
		float:left;
		border:none;
		margin-top:4px;
		margin-left:5px;
	}

/*------------ AUTH --------------------*/
#authModal table{
	width:300px;
	margin:2px;
}
#authModal table td{
	padding:0px;
}
#authModal #authtd{
	font-size:1.1em;
	padding:10px;
}
#authtitle{
	font-size:1.4em;
	color:#FFF;
}
#authtitle div{
	background-color:#006699;
	padding:10px;
	margin-bottom:20px;
	width:306px;	
}

#authinput{
	width:180px;
	height:30px;
	display:block;
	border:none;
	background:url(/templates/_default_/images/authinput.jpg) no-repeat;
	padding:4px;
	padding-left:13px;
	padding-right:26px;
	font-size:1.4em;
	margin-top:8px;
	margin-left:20px;
}

#remember{
	margin-right:15px;
	text-align:right;
	font-size:1.3em;
}

#authbtn{
	margin-top:5px;
	margin-right:5px;
	float:right;
	font-size:1.3em;
}



/*--------------- TOP LINKS -----------------------------------------------------------------------------*/
#headtools{
	margin-right:5px;
}

#ht_reg, #ht_auth, #ht_fav, #ht_profile, #ht_messages, #ht_logout{
	display:block;
	width:70px;
	_width:120px;
	height:30px;
	line-height:30px;
	float:left;
	margin-right:1px;
	margin-top:1px;
	font-size:10px;
	padding-left:40px;
	padding-right:10px;
}

#ht_reg{
	background:url(/templates/_default_/images/buttons/ht_reg.jpg) no-repeat #FFF;
}
#ht_auth{
	background:url(/templates/_default_/images/buttons/ht_auth.jpg) no-repeat #FFF;
}
#ht_fav{
	background:url(/templates/_default_/images/buttons/ht_fav.jpg) no-repeat #FFF;
}

#ht_profile{
	background:url(/templates/_default_/images/buttons/ht_profile.jpg) no-repeat #FFF;
}
#ht_messages{
	background:url(/templates/_default_/images/buttons/ht_messages.jpg) no-repeat #FFF;
}
#ht_logout{
	background:url(/templates/_default_/images/buttons/ht_logout.jpg) no-repeat #FFF;
}


/*-------------------------------------------------------------------------------------------------------*/
#bodytable{
	margin-top:5px;
}
#left{
	padding-left:5px;
	padding-right:5px;
}
#right{
	padding-left:5px;
	padding-right:5px;
}


/*-------------------------------------------------------------------------------------------------------*/
a {
	color: #0066CC;
	text-decoration: underline;
}
a:hover {
	color: #FF6600;
	text-decoration: none;
}
p {
	margin-bottom: 6px;
	font-size:12px;
}
input, select, textarea {
	font-size:14px;
}
td{
	font-size:12px;
}

/*-------------------- MENU ITEMS ----------------------*/

.mainmenu {
	margin-left:10px;
}

.mainmenu li{
	list-style-position:outside;
	list-style:none;
}
.mainmenu li ul{
	padding-left:0px;
}

.mainmenu li span{
	padding-left:18px;
}
.backlink{
	margin:10px;
	padding:2px;
	display:block;
	width:80px;
	text-align:center;
	background-color:#EBEBEB;
}

/*------------------ HORIZONTAL MENU -----------------------------*/
.menutd{
	text-align:center;
}
.menulink{
	padding:5px;
}
.menulink_active{
	padding:5px;
}
/*-------------------- MODULES ----------------------*/
#left .module, #right .module {
	border: 1px solid #9DB0BC;
	padding: 0px;
	margin-bottom:2px;
}

#left .moduletitle, #right .moduletitle{
	font-size: 14px;
	font-weight:bold;
	text-align:center;
	margin-bottom: 6px;
	background:url(/templates/_default_/images/modtitle.jpg) repeat-x #9DB0BC;
	padding: 0px;
	height: 34px;
	line-height:34px;
	border-bottom:solid 1px #9DB0BC;
}
#left .modulebody, #right .modulebody {
	padding: 10px;
	background-color:#FFFFFF;
}

#center .module{
	padding: 10px;
	margin-bottom:2px;
}

#center .moduletitle{
	font-size:18px;
	text-transform:uppercase;
	border-bottom:solid 1px #7192A6;
	color:#7192A6;
}
#center .modulebody {
	padding: 10px;
	background-color:#FFFFFF;
}
/*------------------ MODULE "LATEST PHOTO" -----------------*/
.mod_lp_titlelink{
	font-size:12px;
	font-weight:bold;
	margin-bottom:5px;
}
.mod_lp_albumlink{
	margin-top:4px;
}
.mod_lp_albumlink a{
	color:#666666;
	text-decoration:underline;
}
.mod_lp_details{

}
.mod_lp_photo{
	
}
/*------------------ MODULE "POLLS" -----------------*/

.mod_poll_title {
	margin-bottom: 5px;
}
.mod_poll_submit {
	margin-top: 10px;
}
.mod_poll_gauge {
	background-color:#CC6600;
	display: table;
	height: 8px;
	margin-bottom: 8px;
}
.search_field {
	width: 100%;
	border: 1px solid #666666;
}
.search_head {
	background-color:silver;
	border-bottom:solid 1px gray;
	font-size:16px;
}
.search_row1 {
	background-color:#FFFFFF;
}
.search_row2 {
	background-color:#EBEBEB;
}

/*---------------- MODULE "AUTHORIZATION" -----------*/
#login,#pass {
	border: 1px solid #666666;
}

/*---------------- MODULE "LATEST ARTICLES" -----------*/
.mod_latest_entry{
	margin-bottom:10px;
	clear:both;
}
.mod_latest_title{
	font-size:14px;
	font-weight:bold;
}
.mod_latest_date{
	margin-bottom:10px;
	font-size:10px;
	color:gray;
}
.mod_latest_date a{
	color:#333333;
}
.mod_latest_desc{
	margin-bottom:5px;
}
.mod_latest_comments{
	font-size:12px;
	text-align:right;
}
.mod_latest_rss{
	float:right;
	padding-left:20px;
	background:url(/images/icons/rssitem.gif) no-repeat left center;
	height:16px;
	line-height:16px;
}

.mod_latest_rss a{
	text-decoration: underline; 
	color: #333;
}

/*---------------- REGISTRATION FORM -----------*/
.regrow1{
	background-color:#EBEBEB;
}
.regrow2{
	background-color:#FFFFFF;
}
.regstar{
	font-size:18px;
	color:#FF0000;
}

/*------------------ PAGES BAR ----------------------*/
.pagebar{
	margin-top:10px; 
	margin-bottom: 15px; 
	font-size:12px;
	clear:both;
}
.pagebar_title{
	margin:5px; 
	padding:4px;
}
.pagebar_page{
	margin:3px; 
	padding:6px;
}
.pagebar_current{
	margin:3px; 
	padding:6px; 
	border:solid 1px silver; 
	background-color: white;
}

/*----------------- SITE SEARCH ----------------------*/
.search_match{
	background-color:#66CCFF;
}

.price_search {
	width: 60%;
	border: 1px solid #666666;
}

.search_input {
	width: 300px;
	border:solid 1px gray;
}

/*---------------- COMPONENT "CONTENT" -------------*/
.component {
	padding:10px;
}
.con_heading {
	font-size: 24px;
    font-weight:normal;
	color:#7192A6;
    margin: 0px;
	margin-bottom: 15px;
}
.con_pubdate{
	color:#666666;
	font-weight:bold;
}
.con_description {
	margin-top:     4px;
	margin-bottom:  15px;
}
.con_description p{
    margin-bottom:  4px;
}
.con_desc{
	margin-top:0px;
}
.con_text{
    margin-top:15px;
}
.con_title{
	font-weight:bold;
	font-size:16px;
}
.con_icons{
	margin:4px;
	margin-top:9px;
	margin-left:10px;
}
.con_icon{
	margin-top:4px;
}
.con_details{
	margin-top:8px;
    margin-bottom:12px;
	font-size:10px;
	color:#999999;
}
/*---------------- COMPONENT "PHOTOS" -------------*/
.photo_thumb{
	display:block;
	padding:4px;
	margin:2px;
}
.photo_bar{
	background-color: #EBEBEB;
	margin:6px 0px 6px 0px;
}
.photo_desc{
	background-color: #EBEBEB;
	margin:0px 0px 6px 0px;
	padding:8px;
}
.photo_box{
	border:solid 1px silver;
}
.photo_date_td{
	background-color:#EBEBEB;
}
.photo_sortform{
	padding:5px;
	background-color:#EBEBEB;
}
.photo_gallery{
}
.photo_userbar{
	padding:10px;
	background-color:#EBEBEB;
	margin-bottom:2px;
}
.photo_toolbar{
	margin-bottom:10px;
}
.photo_toolbar table{
	padding:4px;
	background-color:#EBEBEB;
}
.photo_toolbar a{
	text-decoration:underline;
	color:#666666;
}
.photo_bbinput{
	width:500px;
	margin:2px;
	padding:5px;
	background-color:#EBEBEB;
}
/*---------------- ARTICLE CONTENTS -----------------*/
.con_pt {
	display:block;
	padding: 8px;
	margin: 5px;
	border:solid 1px gray;
	width:260;
	float:right;
	background-color:#FFFFFF;
}

.con_pt_heading {
	display: block;
	margin-bottom:6px;
}

/*---------------- SHOP CART -----------*/
.cart_item{
	font-size:10px;
	font-weight:bold
}
.cart_detaillink{
	clear:both; 
	border-bottom:solid 1px gray; 
	margin-bottom:10px; 
	padding-bottom:5px
}
.cart_total{
	clear:both; 
	border-top:solid 1px gray; 
	margin-top:10px; 
	padding-top:5px
}
.cart_price{
	margin-top:2px;
	text-align:right;
}
.cartrow1{
	background-color:#EBEBEB;
}
.cartrow2{
	background-color:#FFFFFF;
}
/*----------------- COMPONENT "PRICE LIST" --------------*/
.pricerow1{
	background-color:#EBEBEB;
}
.pricerow2{
	background-color:#FFFFFF;	
}
/*-------------- MODULE "LATEST COMMENTS" ------------------------------*/
.mod_com_userlink{
	text-decoration:underline;
	color:#666666;
}

/*-------------- MODULE "LATEST FORUM WEB2.0" ------------------------------*/
.mod_fweb2_userlink{
	text-decoration:underline;
	color:#666666;
}
.mod_fweb2_date{
	background-color:#EBEBEB;
}
.mod_fweb2_topiclink{
	text-decoration:underline;
	font-weight:bold;
}
.mod_fweb2_shorttext{
	font-style:italic;
	color:#999999;
}

/*-------------- PATHWAY ------------------------------*/
.pathway {
	padding: 10px;
	padding-left:30px;
	background:url(/templates/_default_/images/home.gif) no-repeat #EBEBEB;
	background-position: 10px 12px;
}
.pathwaylink{
}
.pathwaylink:hover{
}

/*------------- MODULE "CALENDAR" ---------------------*/
.calendar{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	border: solid 1px black;
	width:100%;
	text-align:center;
}
.calendar_top{
	height: 30px;
	background-color:#006699;
	color:#FFFFFF;
}
#calendar_nav{
	height: 30px;
	background-color:#006699;
	color:#FFFFFF;
}
#calendar_nav a{
	color:#FFFFFF;
	text-align:center;
}
.calendar_dayname{
	font-size: 10px;
	height: 30px;
	background-color:#EBEBEB;
}
.calendar_day{
	font-size: 10px;
	padding:4px;
}
.calendar_today{
	font-size: 10px;
	padding:4px;
	background-color:#EBEBEB;
	border:solid 1px gray;
}
.calendar_daylink{
	text-decoration: underline;
}
.calendar_toplink{
	text-decoration: none;
	color:#FFFFFF;
}
.calendar_toplink:hover{
	text-decoration: none;
	color:yellow;
}
/************ UNIVERSAL CATALOG *******************************/
.uc_new{
	color:#FF0000;
	font-style:italic;
	padding:5px;
	vertical-align: super;	
}
.uc_list_item{
	padding: 2px;
	margin: 2px;
}
.uc_itemfieldlist{
	margin: 0px;
	list-style:none;
}
.uc_itemfield{
	font-size:14px;
}
.uc_itemlink{
	font-size:18px;
}
.uc_list_itempic{
	background-color: #FFFFFF;
	border: solid 1px black;
	padding: 2px;
}
.uc_list_itemdesc{
	padding-left: 0px;
}

.uc_thumb_item{
	padding: 2px;
	margin: 2px;
	background-color: #FFFFFF;
	border:solid 1px silver;
	display:block;
	width:140px;
	height:170px;
	float:left;
	text-align:center;
}
.uc_thumb_itemlink{
	font-size:12px;
}
.uc_detailfield{
	margin:0px;
	margin-bottom: 8px;
    padding:0px;
}
.uc_detaillist{
	margin:0px;
    padding-left:15px;
	list-style: none;
}
.uc_detaillink{
	font-size:16px;
	margin-top:15px;
	text-decoration:underline;
}
.uc_detaillink:hover{
	color:#FF6600;
	font-size:16px;
	margin-top:15px;
	text-decoration:underline;
}
.uc_detailtags{
	margin-top: 10px;
	margin-bottom: 10px;
}
.uc_detailimg{
	border: solid 1px gray;
	padding: 4px;
	background-color:#FFFFFF;
}
.uc_detailrating{
	margin:0px;
	margin-bottom:8px;
	margin-top:8px;
	border:solid 1px gray;
	padding:3px;
}
.uc_findsame{
	color: gray;
}
.uc_tagline{
	border-top:dashed 1px silver;
	margin-top: 6px;
	padding-top:2px;
	padding-bottom:8px;
	font-size: 10px;
	width: 100%;
}
.uc_sortform{
	padding: 5px;
	border: solid 1px gray;
	background-color:#FFFFFF;
	margin:1px;
}
.uc_queryform{
	padding: 5px;
	border-bottom: solid 1px gray;
	margin-bottom:10px;
}
.uc_rating{
	margin-bottom: 8px;
}
.uc_toolbar{
	margin: 0px;
	margin-bottom:20px;
}
/*----------------------MODULE "LATEST FROM CATALOG"--------------------------*/
.uc_latest_item{
	padding: 2px;
	margin: 2px;
	background-color: #FFFFFF;
	border:solid 1px silver;
	display:block;
	width:140px;
	height:170px;
	float:left;
	text-align:center;
}
.uc_latest_link{
	font-size:12px;
}
.uc_latest_title{
	list-style-position:inside;
	list-style:square;
}
.uc_alpha_list{
	margin-bottom:5px;
	border-bottom:solid 1px gray;
	padding-bottom:6px;
}
.uc_alpha_link{
	font-size:18px;
	padding-right:10px;
}
/*------------------------- MODULE "SITE TAGS" ---------------------------------*/
a.tag:hover{
	background-color: #0066CC;
	color:#fff;
}
/*---------------------------PERSONAL MENU -----------------------------------*/
.pmenu{
}
.pmenu_avatar img{
	margin:0px;
	padding:2px;
	border:solid 1px #ccc;
}
.usr_msgmenu_bar{
	background-color:#EBEBEB;
	margin-bottom:10px;
}
.usr_msgreply_source{
	padding:15px;
	background-color:#FFFFFF;
	border:dashed 1px gray;
	margin-bottom:10px;
}
.usr_msgreply_sourcetext{
	font-size: 16px;
}
.usr_msgreply_author{
	font-style:italic;
	color:#666666;
	text-align:right;
}
.usr_msg_smilebox{
	padding:8px;
	background-color:#EBEBEB;
	border:solid 1px silver;
	margin-bottom:4px;
}
.usr_msg_bbcodebox{
	padding:0px;
	background-color:#EBEBEB;
	border:solid 1px silver;
	margin-bottom:4px;
	overflow:hidden;
	_height:1%;
}
.usr_bb_button{
	display:block;
	border: solid 1px silver;
	margin:2px;
	padding:6px;
	float:left;
}
.usr_bb_button:hover{
	display:block;
	border: solid 1px silver;
	margin:2px;
	padding:6px;
	float:left;
	background-color:#FFFFFF;
}
.usr_bb_hint{
	display:block;
	margin:2px;
	padding:5px;
	float:left;
	color:#666666;
}
/*---------------------------------------------------------*/
.ajax_autogrowarea{
	display:block;
	border:solid 1px gray;
	width:100%;
	height:108px;
	min-height:180px;	
	max-height:702px;
	line-height:18px;
}
.bb_tag_code{
	border:solid 1px silver;
	padding:8px;
}
.bb_tag_hide{
	padding:8px;
	background-color:#FFFFCC;
	color:#666666;
}
.bb_tag_hide a{
	color:#333333;
	text-decoration:underline;
}
/*---------------------- COMPONENT "FAQ" --------------------------*/
.faq_subcats{
	padding:10px;
	background-color:#EBEBEB;
	margin-bottom:10px;
}
.faq_cats{
	padding:10px;
	background-color:#EBEBEB;
	margin-bottom:10px;
}
.faq_questtext{
	font-weight:bold;
}

.faq_answertext{
	color:gray;
}

.faq_questdate{
	padding:2px;
	font-size:10px;
	text-align:center;
	background-color:#EBEBEB;
	margin-top:2px;
	width:100px;
	float:left;
}
.faq_questcat{
	padding:2px;
	font-size:10px;
	text-align:center;
	margin-top:2px;
	margin-left:4px;
	float:left;
}
.faq_questcat a{
	color:#333333;
}
.faq_quest{
	margin-bottom:8px;
	padding-bottom:8px;
	border-bottom:solid 1px silver;
}
.faq_send_quest a{
	text-decoration:underline;
	color:#666666;
}
/********************* KARMA ***********************************/
.karma_form{
	text-align:center;
	padding:10px;
	background-color:#FFFFFF;
	border:solid 1px gray;
}
.karma_form #karmavotes {
	color:#666666;
}
/********************* TAG BAR ***********************************/
.taglinebar{
	margin:4px;
	padding:2px;
}
.taglinebar #header{
	padding-right:18px;
	background:url(/images/icons/tag.gif);
	background-repeat:no-repeat;
	background-position:right;
	font-weight:bold;
	margin-right:4px;
}
.tag_searchcat{
	color:#666666;
	text-decoration:underline;
	font-size:16px;
}
.tag_searchitem{
	text-decoration:underline;
	font-size:16px;
}
.tagsearch_bar{
	font-size:10px;
	text-align:right;
	float:right;	
}
.tagsearch_item{
	float:left;
	padding:5px;
}
/*-------------- MODULE "LATEST BLOG POSTS" ------------------------------*/
.mod_blog_userlink{
	text-decoration:underline;
	color:#666666;
}
.mod_blog_karma{
	background-color:#FFFFFF;
	text-align:center;
	font-size:18px;
}
/*-------------- MODULE "LATEST FAQ QUESTS" ------------------------------*/
.mod_faq_date{
	font-style:italic;
	color:#999999;
}

span.user_karma_point{
	font-size:16px;
}