RewriteEngine on

RewriteEngine On
RewriteBase /
RewriteRule ^.htaccess$ - [F]

RewriteCond $1 !^(index\.php|(.*)images(.*)|robots\.txt|(.*)\.jpg|\.gif|(.*)\.png|(.*)\.swf|(.*)\.js|(.*)\.css|admin|(.*).php)

RewriteRule ^(.*)$ /index.php?uri=$1 [L]