/*---------------- COMPONENT "COMMENTS" -------------*/
.cmm_heading {
	font-family: "Trebuchet MS";
	font-size: 18px;
	color: #7192A6;
	margin-bottom: 4px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #666666;
	padding-top: 8px;
}
.cmm_icons{
	margin-bottom: 4px;
}
.cmm_icons a{
	color:#666666;
	text-decoration:underline;
}
.cmm_anchor{
	float:left;
	margin-left:10px;
	color:#333333;
}
.cmm_author {
	display: block;
	float: left;

	font-weight: bold;
}
.cmm_title {
	padding: 6px;
}
.cmm_votes{
	float: right;
	padding: 2px;
    margin-right:15px;
    color:silver;
    font-weight:bold;
}
.cmm_good{
    color:green;
}
.cmm_bad{
    color:red;
}
.cmm_time {
	color: #999;
	display: block;
	float: right;
	padding: 2px;
	padding-left:20px;
	background:url(/components/comments/images/time.gif) no-repeat #FFF;
}
.cmm_date {
	color: #999;
	background-color: #999999;
	display: block;
	float: right;
	margin-right:6px;
	padding: 2px;
	padding-left:20px;
	background:url(/components/comments/images/date.gif) no-repeat #FFF;
}
.cmm_pagebar {
	background-color:#EBEBEB;
	margin-bottom:4px;
}
.cmm_entry {
	width: 100%;
	margin:0;
	margin-bottom:2px;
	border:dashed 1px #CCC;
	padding:10px;
}
.cmm_avatar {
	padding: 5px;
	background:#EBEBEB;
}
.cmm_content_av {
	padding: 10px;
	padding-left: 25px;
	padding-top: 7px;
	background:url(/components/comments/images/pointer.jpg) no-repeat;

}
.cmm_content {
	padding: 10px;
}
.cmm_addentry a{
	text-decoration:underline;
}
.cmm_addentry {
	padding:20px;
	border:solid 1px gray;
	background-image:url(/templates/official/images/cmform_bg.jpg);
	background-repeat:repeat-x;
	background-color:#E4E4E4;
}
.cmm_smilebox{
	padding:4px;
	border:solid 1px gray;
	background-color:#EBEBEB;	
}
.cmm_codebar{
	width:100%;
	border:solid 1px gray;
	background-color:#FFFFFF;	
}
.cmm_pageselect{	
	border: solid 1px gray;
	background-color:#F3F3F3;
}
.cmm_submit{
	font-size:12px;
}
#addcomment {
	border: solid 1px gray;
	background-color:#E5E5E5;
	padding:10px;
}
#addcommentlink{
	margin-top:15px;
}

div.cm_smiles{
	padding:0px;
	margin-top:5px;
}
div.cm_smiles a{
	text-decoration:none;
}

div.cm_smiles div.usr_msg_smilebox{
	background:#ECECEC;
	border:none;
}