input.button { font-size:18px; }

div.new_club { margin-bottom:30px; height:24px; line-height:24px; padding-left:28px; background:url(/components/clubs/images/create.gif) no-repeat left center;}

div.club_entry { overflow:hidden; margin-bottom:10px; }
div.club_entry .image{ width:48px; height:48px; padding: 2px; background:#FFF; float: left; margin-right:14px; }

div.club_entry .data{ float: left; }

div.club_entry .data .title { margin-bottom: 5px; margin-top:5px;  }
div.club_entry .data .title a{ font-size: 16px; font-weight:bold;  }

div.club_entry .data .details { float:left; padding-left:10px; }
div.club_entry .data .details span{ color: #999; padding-left:19px; margin-right:4px; height:18px; font-size:10px; height:16px;line-height:16px;display:block; }
div.club_entry .data .details span.rating{ background:url(/images/icons/rating.gif) no-repeat left center; }
div.club_entry .data .details span.date{ background:url(/images/icons/date.gif) no-repeat left center; }
div.club_entry .data .details span.members{ background:url(/images/icons/users.gif) no-repeat left center; }

/* ===================================================================================================================================== */

table.club_full_entry { overflow:hidden; margin-bottom:10px; width:100%; }
table.club_full_entry td.left { overflow:hidden; margin-bottom:10px; width:200px; }
table.club_full_entry .image{ width:200px; height:200px; padding: 2px; background:#FFF; margin-right:14px; }

table.club_full_entry .data{  }

table.club_full_entry .data .details { margin-bottom:10px; border-bottom:solid 1px silver; padding-bottom:8px; background:#ECECEC; padding:8px;}
table.club_full_entry .data .details span{ color: #333; padding-left:19px; margin-right:4px; height:18px; }
table.club_full_entry .data .details span.rating{ background:url(/images/icons/rating.gif) no-repeat left center; }
table.club_full_entry .data .details span.date{ background:url(/images/icons/date.gif) no-repeat left center; }
table.club_full_entry .data .details span.members{ background:url(/images/icons/users.gif) no-repeat left center; }

table.club_full_entry .data .description { margin-right:20px; margin-left:8px; margin-bottom:5px; clear:both; }

/* ===================================================================================================================================== */

table.club_full_entry .members_list { width:200px; }
table.club_full_entry .members_list .title { margin-bottom:10px; padding-top:8px; padding-left: 8px; font-weight:bold; }
table.club_full_entry .members_list .list { padding:8px; padding-top:0px; padding-left:16px; }

/* ===================================================================================================================================== */
table.club_full_entry .clubcontent { clear:both; margin-bottom:15px; }
table.club_full_entry .clubcontent p { padding:0px; padding-left:25px; margin-top:0px; }
table.club_full_entry .clubcontent div.title { padding:5px; padding-left:9px; background:#ECECEC; border-top:solid 1px silver; margin-bottom:5px; }
table.club_full_entry .clubcontent div.title a{ line-height:32px; height:32px; padding-left: 40px; margin-bottom:4px; margin-right:15px; display:block; font-size:16px; }
table.club_full_entry .clubcontent div.blog .title a{ background:url(/components/users/images/profile/blog.png) 0px center no-repeat; text-decoration:underline; }
table.club_full_entry .clubcontent div.album .title a{ background:url(/components/users/images/profile/photoalbum.png) 0px center no-repeat; text-decoration:underline; }
table.club_full_entry .clubcontent ul li a.on_moder { color:#FF6600; }
table.club_full_entry .clubcontent div.album a.delete { color:#FF0000; }

table.club_full_entry .clubcontent span.new{ color:#009900; font-weight:bold; }

table.club_full_entry .clubcontent ul { margin-top:10px; margin-left:9px; margin-bottom:15px; }
table.club_full_entry .clubcontent ul li { margin-bottom:3px; }
table.club_full_entry .clubcontent ul li.all a{ color:#999999; }
table.club_full_entry .clubcontent ul li.service a{ color:#009900; }

table.club_full_entry .clubcontent #add_album_form input.text { width:300px; border:solid 1px silver; }
table.club_full_entry .clubcontent #add_album_link a { color:#009900; margin-left:10px; } 

/* ===================================================================================================================================== */

table.club_full_entry .clubmenu {  }
table.club_full_entry .clubmenu div { float:right; margin-bottom:10px; } 
table.club_full_entry .clubmenu div a { line-height:24px; height:24px;  margin-bottom:4px; margin-right:15px; display:block; font-size:12px; }
table.club_full_entry .clubmenu div a.join{ padding-left: 44px; background:url(/components/clubs/images/join.gif) 0px center no-repeat; text-decoration:underline; font-weight:bold; }
table.club_full_entry .clubmenu div a.leave{ padding-left: 44px; background:url(/components/clubs/images/leave.gif) 0px center no-repeat; text-decoration:underline; }
table.club_full_entry .clubmenu div a.config{ padding-left: 32px; background:url(/components/clubs/images/config.gif) 0px center no-repeat; text-decoration:underline; }

/* ===================================================================================================================================== */

table.club_full_entry .wall .header{ background:#ECECEC; padding:10px; border-top:solid 1px silver; font-size:16px; }
table.club_full_entry .wall .body{ padding:10px; }
table.club_full_entry .wall #addwall{ padding:10px; padding-top:0px;}
table.club_full_entry .wall #addwall textarea{ width:100%; display:table; height:100px; }

table.club_full_entry .wall .usr_wall_addlink{
	margin-top:10px;
	padding:3px;
	padding-left:20px;
	line-height:12px;
	background-image:url(/components/users/images/writewall.gif);
	background-repeat:no-repeat;
}

table.club_full_entry .wall .usr_wall_entry { padding: 5px; border: dashed 1px #CCC; margin-bottom:2px; }
table.club_full_entry .wall .usr_wall_title{ padding: 5px; font-weight:bold; float:left; }
table.club_full_entry .wall .usr_wall_delete { float:right; padding:5px; }
table.club_full_entry .wall .usr_wall_delete a { background:url(/components/users/images/delete.gif) no-repeat left center; padding-left:18px; height:16px; line-height:16px; }