#shop_toollink_div{
	height:20px;
	line-height:20px;
	margin-top:0px;
	margin-bottom:5px;
	color:#666666;
	display:table;
	clear:both;
	overflow:hidden;
}

#shop_cartlink{
	float:left;
	background:url(/components/catalog/images/icons/cart.png) no-repeat 2px 2px;
	font-weight:bold;	
	padding-left:25px;
	padding-right:5px;
}

#shop_searchlink{
	float:left;
	background:url(/components/catalog/images/icons/search.png) no-repeat 2px 2px;
	font-weight:bold;	
	padding-left:25px;
	padding-right:5px;
}
#shop_addlink{
	float:left;
	background:url(/images/icons/add.gif) no-repeat 2px 2px;
	padding-left:22px;
	padding-right:5px;
}
#cart_buttons{
	margin-top:20px;
	text-align:center;
	overflow:hidden;
}
#cart_buttons1{
	margin:2px;
	float:right;
}
#cart_buttons2{
	margin:2px;
	float:left;
}

#cart_total{
	text-align:right;
	font-size:16px;
	margin-top:5px;
	padding-top:5px;
	border-top:solid 1px silver;
}
#cart_total span{
	font-weight:bold;
}

#catalog_list_itempic{
	padding:10px;
}

#shop_small_price{
	width:110px;
	height:26px;
	margin-left:auto;
	margin-right:auto;
	line-height:26px;
	text-align:center;
	margin-top:5px;
	font-size:14px;
	font-weight:bold;
	color:#047700;
}

#shop_price{
	float:left;
	font-size:14px;
	margin-left:15px;
	margin-top:10px;
	height:43px;
	line-height:43px;
	width:190px;
	background:url(/components/catalog/images/shop/price.jpg) no-repeat;
}
#shop_price span{
	margin-left:20px;
	font-weight:bold;
}
#shop_ac_item_link img{
	margin-left:2px;
	margin-top:12px;
}
#shop_ac_itemdiv{
	margin-left:5px;
	margin-top:10px;
}

.catalog_sortform{
	text-align:right;
	clear:both;
	overflow:hidden;
}
.catalog_sortform table{
	float:right;
}

.catalog_list_item{
	margin-bottom:4px;
	border:solid 1px #ccc;
	padding:10px;
}

#catalog_item_table{
	width:100%;
}
#shop_list_buttons{
	float:right;
	clear:both;
}

div.uc_subcats{
	padding:10px;
	border:solid 1px silver;
	background-color:#FFF;
	margin-bottom:15px;
}

ul.uc_cat_list{
	list-style:none;
	margin:0px;
	padding:0px;
	overflow:hidden;	
}

ul.uc_cat_list li.uc_cat_item{
	background:url(/images/markers/folder.png) no-repeat;
	padding-left:20px;
}
.hint{
    color:gray;
}
#shop_moder_form{
    padding:15px;
}
#shop_moder_form p.notice{
    font-weight:bold;
}
